<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pandora.lease.dao.map.MapDAO">
    <select id="getDistrict" resultType="com.pandora.lease.model.map.MapModel">
        select * from t_map where FIND_IN_SET(id, queryChildrenAreaInfo(2))
    </select>
</mapper>

